@inherits UmbracoViewPage<Website.UI.BL.DocumentTypes.Listing>
@{
    Layout = "Master.cshtml";
}

<div id="listing-wrapper">
    <ul>
        @foreach (var beer in Model.Beers)
        {
            <li style="background-image: url(@beer.GetImageUrl(Umbraco))">
                <div class="summary-wrapper">
                    <h2>@beer.FullName</h2>
                    <h3>@beer.Brewer</h3>
                    @*<p>@beer.Review</p>*@
                    @*<img src="@beer.GetImageUrl(Umbraco)" alt="Beer" />*@
                    @*<strong>RATING: @(beer.Rating)/10</strong>*@
                    <img class="flag" src="@beer.GetCountryFlag(Umbraco)" alt="Flag" />
                </div>
            </li>
        }
    </ul>
</div>

<div id="beer-detail-wrapper">
    <a class="close">CLOSE</a>
    This part of the website is currently brewing &amp; fermenting! Thanks for your patience..
</div>