@inherits UmbracoViewPage<Website.BL.DocumentTypes.Page>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@Model.Title</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryajax")
    @*@Scripts.Render("~/scripts/libraries/jquery.unobtrusive-ajax.js")*@
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/slimmage")
    @Scripts.Render("~/bundles/sitejs")    
    
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-70022206-1', 'auto');
        ga('send', 'pageview');
    </script>

    <script type="text/javascript">
        window.slimmage = { verbose: false };
    </script> 

    @Styles.Render("~/bundles/sitecss")

    @if (IsSectionDefined("Head"))
    {
        @RenderSection("Head");
    }
</head>

<body style="background-image: @(Model.HasBackgroundImage ? string.Format("url({0})", Model.GetBackGroundImageUrl(Umbraco)) : "none")">   
    @Html.Partial("_Navigation", Model)
    @RenderBody()
    <div id="overlay"></div>
</body>
</html>